.editProfile {
  padding: 30px 60px 30px 30px !important;
}

.editprofile-wrap {
  box-shadow: #00000029 0px 1px 4px;
  background-color: #ffffff;
  padding: 30px 30px 10px 30px;
}

.editprofile-sub-title {
  font-size: 25px;
  font-weight: bold;
}

.inputfield-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.break {
  border-bottom: 1px solid #42424252;
  margin: 30px 1px;
}

.edit-btn {
  margin: 0px 15px;
  width: 120px;
  color: #000;
  background-color: #E8C136;
  border-color: #E8C136;
}

.edit-btn:hover{
  color: #000;
  background-color: #D3AA18;
  border-color: #D3AA18;
}

.btnLinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.select-css {
  width: 50%;
}

.account-Input{
  width: 85%;
  padding: 10px 5px 10px 20px;
  display: block;
  border: 1px solid #e0dfdf;
  border-radius: 4px;
  transition: 0.2s ease-out;
  background-color: #EDEDED;
}
