.box-container {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.car-image {
  width: 83%;
}

.car-image2 {
  width: 57%;
}

.item-image {
  width: 180px;
}

.box-div {
  display: flex;
  padding: 7vh;
  margin: 15px 7px;
  border-width: 1px;
  color: black;
  box-shadow: #0000003d 0px 3px 8px;
  border-radius: 5px;
}

.side-div {
  display: block;
  margin-left: 5vw;
  height: auto;
}

.box-text {
  height: 100px;
  font-size: 27px;
  margin-bottom: 10px;
}

.box-button {
  position: absolute;
  padding-top: 10px;
}
