.changePwd-container {
  justify-content: center;
  display: flex;
}

.changePwd-form-wrap {
  border-radius: 10px;
  background: white;
  margin: 30px 10px 10px 10px;
  box-shadow: #3c40434d 0px 1px 2px 0px,#3c404326 0px 2px 6px 2px;
  width: 450px;
}

.pW-title {
  text-align: center;
  border-bottom: 1px solid #0000001a;
  padding: 35px 45px;
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
}

.changePwd-form {
  padding: 45px;
}

@media all and (max-width: 450px) {
  .pE-title {
    padding: 25px 30px;
  }
  .changePwd-form {
    padding: 30px;
  }
}

.changePwd-inputfield-wrap {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 40px;
}

.changePwd-error-msg {
  color: #E86836;
  font-size: 14px;
  margin-top: 3px;
}

.changePwd-form-input-label {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 18px;
  color: #00000059;
  transition: all 0.2s ease-in-out;
}

.changePwd-form-input-label i {
  padding-right: 10px;
}

.changePwd-form-input {
  line-height: 35px;
  border: none;
  border-bottom: 1px solid #0000002c;
  transition: all 0.2s ease-in-out;
}

.error {
  border-color: #E86836;
}

.changePwd-form-input:focus {
  outline: none;
  border-bottom: 1px solid #E8C136;
}

.error:focus {
  border-bottom: 1px solid #E86836 !important;
}

.changePwd-form-input:focus + .changePwd-form-input-label {
  color: #E8C136;
}

.changePwd-formSubmitBtn-wrap {
  margin-bottom: 35px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.success-css{
  color: #B6E836;
  background-color: #fff;
}

.danger-css{
  color: #E86836;
  background-color: #fff;
}

.alert-primary {
  --bs-alert-color: #fff !important;
  --bs-alert-bg: #fff !important;
  --bs-alert-border-color: #fff !important;
  --bs-alert-padding-x: 0.2rem !important;
  --bs-alert-padding-y: 0.2rem !important;
}

.alert-heading {
  color: inherit;
  font-size: 17px !important;
  text-align: center;
  margin-bottom: .1rem !important;
}