.su-container {
  padding: 0px !important;
}

.su-mainheader {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.25rem;
}

.su-image {
  align-items: center;
  justify-content: center;
  text-align: left;
  display: flex;
  padding-left: 17rem;
  padding-right: 17rem;
}

.su-div {
  padding-left: 17rem;
  padding-right: 17rem;
  font-size: 1.125rem;
  line-height: 2rem;
}
