.brand-container-wrap {
  padding: 30px 32px;
}

.brandfilter-container {
  padding: 0 !important;
}

.bf-mainheader {
  font-weight: bold;
  margin-bottom: 42px;
  text-align: center;
}

.bf-brandslogo-wrap {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px auto;
}

.bf-brandslogo {
  display: flex;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.bf-brandsImg-frame {
  border: 1px solid #E8C136;
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 5px;
}

.bf-brandsImg-frame:hover {
  box-shadow: #0000003d 0px 3px 8px;
}

.bf-brandsImg {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
